body {
	background-image: url('../images/bg.jpg');
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html, body {
	height: 100%;
}
#random_fanfic > section{
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	margin-top: 1mm;
	margin-bottom: 1mm;
}
#random_fanfic article {
	border-top: 1px dashed gray;
	padding: 2mm 5mm 2mm 5mm;
	margin-top: 2mm;

}
.fanfic-neutral {
	border-left: 10px solid #AFA300;
}
.fanfic-gay {
    border-left: 10px solid #00ABFF;
}
.fanfic-sexygay {
	border-left: 10px solid #DB52FD;
}
.fanfic-family {
	border-left: 10px solid #00EF00;
}
.fanfic-another {
	border-left: 10px solid #017F01;
}

.wrapper {
	display: table;
	height: 100%;
	width: 100%;
	background-color: rgb(238, 232, 170);
	
	padding-left: 0%;
	padding-right: 0%;
	
}
main {
	display: table-row;
	height: 100%;
}
footer {
	margin-top: 5mm;
	padding-top: 5mm;
	padding-bottom: 5mm;
	
	color: rgb(238, 232, 170);
	background-color:#773B18;
	
}
footer a {
	color: #FF9A9A;	
}
footer a:hover {
	color: rgb(255, 255, 255);	
}
nav {
	background-color: #D43E3E;
}
nav a, nav.nav-link {
	color: rgb(238, 232, 170);
}
nav a:hover {
	color: rgb(255, 255, 255);	
}
.hint {
	border-radius: 5px;
}
.description {
	border: 4px ridge red;
	margin: 3mm 1mm 1mm 1mm;
	padding-left: 2mm;
	padding-bottom: 4mm;
	padding-right: 2mm;
}

.description-categories {
	padding-top: 2mm;
	padding-left: 5mm;
}

.description-title{
	
	border-bottom: 3px solid black;	
	padding-top: 1mm;
	padding-bottom: 1mm;
	
	font-size: 28px;
	margin: 0mm 0mm 0mm 0mm;
}

.description-desctag {
	font-size: 18px;
	font-weight: bold;
	padding: 0mm 3mm 0mm 3mm;
	margin-bottom: 1mm;
}

.description-desctag a, .description-desctag  span {
	font-size: 14px;
	font-weight: 700;
}
.description-rating0{
	color: greenyellow;
	text-shadow: 1px 1px 2px black;
}
.description-rating1{
	color: yellow;
	text-shadow: 1px 1px 2px black;
}
.description-rating2{
	color: red;
	text-shadow: 1px 1px 2px black;
}

.description-status0{

}

.fanfic-tag{
	font-size: 14px;
	font-weight: 700;
	background-color: #957610;
	color: #DCE159;
	padding: 1mm 2mm 1mm 2mm;
}
.fanfic-tag:hover{
	color:#F6F7C9;
}

.description-notes {
	border-top: 3px solid black;
}
.description-notes img{
	width: 20px;
	height: 20px;
}
.chapter {
	border-bottom: 1px dashed rgba(166,166,166,0.5);
	padding-top: 2mm;
	padding-bottom: 2mm;
}
.chapter-end {
	border-bottom: none;
	margin-bottom: 2mm;
}
.subsection {
	font-size: 24px;
	
	border-bottom: 3px solid black;	
	border-top: 1px solid rgba(0,0,0,0.25);
}

.creators {
	margin-bottom: 1mm;
}

.descriptionnt {
	padding: 1mm 2mm 2mm 2mm;
}

.comment {
	padding-left: 4mm;
	padding-top: 2mm;
}

.profile-icon{
	width: 20px;
	height: 20px;
	float:left; /* Выравнивание по левому краю */
	margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.profile-image{
	width: 45px;
	height: 45px;
	float:left; /* Выравнивание по левому краю */
	margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}

.category-image{
	float:left; /* Выравнивание по левому краю */
	margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
	width: 20px;
	height: 20px;
}

.extra-autor-fanfic {
	color: red;
}

.extra-autor-fanfic header {
	margin-left: 2mm;
}

