 ol{
	counter-reset: myCounter;
}

ol li{
	list-style: none;
}

ol li:before{
	counter-increment: myCounter;
	content: "Вопрос № " counters(myCounter, ".") ": ";
}
.card {
	width: 8mm;
}
form {
	margin-right: 4cm;
}