body {
	background-image: url(bg.jpg);
	background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
html,
body {
	height: 100%;
}
.wrapper {
	display: table;
	height: 100%;
	width: 100%;
	background-color: rgb(238, 232, 170);
	
	padding-left: 0%;
	padding-right: 0%;
	
}
main {
	display: table-row;
	height: 100%;
}
footer {
	margin-top: 5mm;
	padding-top: 5mm;
	padding-bottom: 5mm;
	
	color: rgb(238, 232, 170);
	background-color:#773B18;
	
}
footer a {
	color: #FF9A9A;	
}
footer a:hover {
	color: rgb(255, 255, 255);	
}
nav {
	background-color: #D43E3E;
}
nav a, nav.nav-link {
	color: rgb(238, 232, 170);
}
nav a:hover {
	color: rgb(255, 255, 255);	
}
.hint {
	border-radius: 5px;
}
.description {
	border: 4px ridge red;
	margin: 3mm 1mm 1mm 1mm;
	padding-left: 2mm;
	padding-bottom: 4 mm;
	padding-right: 2mm;
}

.description-categories {
	padding-top: 2mm;
}

.description-title{
	
	border-bottom: 3px solid black;	
	padding-top: 1mm;
	padding-bottom: 1mm;
	
	font-size: 28px;
	margin: 0mm 0mm 0mm 0mm;
}

.description-desctag {
	font-size: 18px;
	font-weight: bold;
}
.description-notes {
	border-top: 3px solid black;
}

.chapter {
	border-bottom: 1px dashed rgba(166,166,166,0.5);
	padding-top: 2mm;
	padding-bottom: 2mm;
}
.chapter-end {
	border-bottom: none;
	margin-bottom: 2mm;
}
.subsection {
	font-size: 24px;
	
	border-bottom: 3px solid black;	
	border-top: 1px solid rgba(0,0,0,0.25);
}

.creators {
	margin-bottom: 1mm;
}

.descriptionnt {
	padding: 1mm 2mm 2mm 2mm;
}

.comment {
	padding-left: 4mm;
	padding-top: 2mm;
}

.profile-image{
	width: 45px;
	height: 45px;
}
